mongo:
{%- for key, value in pillar["donthackme_mongo"].items() %}
  {{ key }}: {{ value }}
{%- endfor %}

elasticsearch:
{%- for key, value in pillar["donthackme_elasticsearch"].items() %}
{% if key == "hosts" %}
  {{ key }}:
  {% for host in value %}
    - {{ host }}
  {% endfor %}
{% else %}
  {{ key }}: {{ value }}
{% endif %}
{% endfor %}

index: {{ pillar["donthackme_es_index"] }}

celery:
  broker: {{ pillar["donthackme_celery"]["broker"] }}
